{% extends 'base.html.twig' %}

{% block title %}Fiche Mairie{% endblock %}

{% block contenu %}

    <div class="card" style="margin:15px;">
        <div class="card-header">
            <H1 style="text-align:center;">Fiche mairie</H1>
              </div>
              <div class="card-body">
                <h5 class="card-title">Informations générales</h5>
              {{ form_start(form) }}
              <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                    {{ form_row(form.ville, {'attr' : {'readonly' : true}} ) }}
                            </div>
                            <div class="col-md-3">
                    {{ form_row(form.codePostal, {'label' : "Code Postal", 'attr' : {'readonly' : true}} ) }}
                            </div>
                            <div class="col-md-3">
                    {{ form_row(form.zone, {'attr' : {'readonly' : true}} ) }}
                            </div>
                        </div>
                </div>
                <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-6">
                      {{ form_row(form.lienDossier, {'attr' : {'readonly' : true}} ) }}
                              </div>
                              <div class="col-md-6">
                              </div>
                         </div>
                     </div>
                 <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                     {{ form_row(form.courriel, {'attr' : {'readonly' : true}} )  }}
                            </div>
                            <div class="col-md-3">
                     {{ form_row(form.telephone, {'label' : "Téléphone", 'attr' : {'readonly' : true}} )  }}
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
                  {{ form_widget(form) }}
              {{ form_end(form) }}


              {# Récupération de l'id mise en session #}
              {% set id = app.session.get('id') %}

              <a href="{{ path('ConsulterMairie') }}">Retour à la liste</a><BR>
              <a href="{{ path('pdfFunctionMairie', {id: id} ) }}">Imprimer</a>
              </div>
            </div>

{% endblock %}