{% extends 'base.html.twig' %}

{% block title %}Mairie index{% endblock %}

{% block contenu %}
    <h1>Mairie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>CodePostal</th>
                <th>Zone</th>
                <th>LienDossier</th>
                <th>Courriel</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mairie in mairies %}
            <tr>
                <td>{{ mairie.id }}</td>
                <td>{{ mairie.ville }}</td>
                <td>{{ mairie.codePostal }}</td>
                <td>{{ mairie.zone }}</td>
                <td>{{ mairie.lienDossier }}</td>
                <td>{{ mairie.courriel }}</td>
                <td>{{ mairie.telephone }}</td>
                <td>
                    <a href="{{ path('mairie_show', {'id': mairie.id}) }}">show</a>
                    <a href="{{ path('mairie_edit', {'id': mairie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('AjouterMairie') }}">Create new</a>
{% endblock %}
