{% extends 'base.html.twig' %}


{% block title %}Ajouter Elève{% endblock %}

    {% block contenu %}
        <div class="card" style="margin:15px;">
           <div class="card-header">
             <H1 style="text-align:center;">Ajouter élève</H1>
         </div>
         <div class="card-body">
          {{ form_start(form) }}
          <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                        {{ form_row(form.couleur) }}
                    </div>
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-2">
                        {{ form_row(form.anneeSuivie, {'label' : "Année"}) }}
                    </div>
                </div><h5 class="card-title">Informations générales</h5>

                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.prenom, {'label' : "Prénom"}) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_row(form.sexe) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.dateNaissance, {'label' : "Date de naissance"}) }}
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      {{ form_row(form.adresse) }}
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.codePostal) }}
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    {{ form_row(form.villeDomicile) }}
                </div>
                <div class="col-md-5">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.courriel) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.telephoneO, {'label' : "Téléphone Obligatoire"}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.telephoneS, {'label' : "Téléphone Optionnel"}) }}
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.etablissement) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.niveau) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.classe) }}
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.dureeIntervention, {'label' : "Durée intervention"}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.lieuIntervention, {'label' : "Lieu intervention"}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.contact, {'label' : "Nom contact"}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    {{ form_row(form.contactNum, {'label' : "Téléphone contact"}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.dateDebut, {'label' : "Date de début"}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.dateFin, {'label' : "Date de fin"}) }}
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.certificatMedical, {'label' : "Certificat Médical"}) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.ri, {'label' : "RI"}) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.enveloppes) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.cheques, {'label' : "Chèques"}) }}
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
     <div class="container-fluid">
             <div class="row">
                <div class="col-md-11">
                     <a href="{{ path('GestionEleves') }}">Retour</a>
                </div>
                <div class="col-md-1">
                   <button class="btn btn-dark" style="pull-right">Enregistrer</button>
               </div>
           </div>
        </div>
    {{ form_end(form) }}
</div>
</div>

{% endblock %}
