{% extends 'base.html.twig' %}

{% block title %}Consulter Eleve{% endblock %}

{% block contenu %}
     
    <div class="card" style="margin:15px;">
        <div class="card-header">
            <H1 style="text-align:center;">Consulter élève</H1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Niveau</th>
                        <th>LieuIntervention</th>
                        <th>
                    </tr>
                </thead>
                <tbody>
                {% for eleve in eleves %}
                    <tr>
                        <td>{{ eleve.nom }}</td>
                        <td>{{ eleve.prenom }}</td>
                        <td>{{ eleve.niveau }}</td>
                        <td>{{ eleve.lieuIntervention }}</td>
                        <td> 
                            <a href="{{ path('ConsulterEleveId', {'id': eleve.id}) }}">Consulter</a>                            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas de valeurs trouvées</td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('GestionEleves') }}">Retour</a>
        </div>
    </div>            
{% endblock %}