{% extends 'base.html.twig' %}

{% block title %}Fiche Elève{% endblock %}

    {% block contenu %}

        <div class="card" style="margin:15px;">
            <div class="card-header">
                <H1 style="text-align:center;">Fiche élève</H1>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">
                                {{ form_row(form.couleur, {'attr' : {'readonly' : true}} ) }}
                            </div>
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.anneeSuivie, {'label' : "Année", 'attr' : {'readonly' : true}} ) }}
                            </div>
                        </div>
                        <h5 class="card-title">Informations générales</h5>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.nom, {'attr' : {'readonly' : true}} ) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.prenom, {'label' : "Prénom", 'attr' : {'readonly' : true}} ) }}
                            </div>
                            <div class="col-md-1">
                                {{ form_row(form.sexe, {'attr' : {'readonly' : true}} ) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.dateNaissance, {'label' : "Date de naissance", 'attr' : {'readonly' : true}} ) }}
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              {{ form_row(form.adresse, {'attr' : {'readonly' : true}} ) }}
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2">
                            {{ form_row(form.codePostal, {'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.villeDomicile, {'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.courriel, {'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.telephoneO, {'label' : "Téléphone Obligatoire", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.telephoneS, {'label' : "Téléphone Optionnel", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.etablissement, {'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.niveau, {'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.classe, {'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_row(form.dureeIntervention, {'label' : "Durée intervention", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.lieuIntervention, {'label' : "Lieu intervention", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.contact, {'label' : "Nom contact", 'attr' : {'readonly' : true}} ) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.contactNum, {'label' : "Téléphone contact", 'attr' : {'readonly' : true}} ) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            {{ form_row(form.dateDebut, {'label' : "Date de début", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.dateFin, {'label' : "Date de fin", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{ form_row(form.certificatMedical, {'label' : "Certificat Médical", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.ri, {'label' : "RI", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.enveloppes, {'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_row(form.cheques, {'label' : "Chèques", 'attr' : {'readonly' : true}} ) }}
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <a href="{{ path('ConsulterEleve') }}">Retour à la liste</a>
        </div>
    </div>

{% endblock %}
