{% extends 'base.html.twig' %}

{% block title %}Supprimer Eleve{% endblock %}

{% block contenu %}
     
    <div class="card" style="margin:15px;">
        <div class="card-header">
            <H1 style="text-align:center;">Supprimer éleve</H1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <h5>Trier par :</h5>
                    </div>
                    <div class="col-md-1">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Niveau
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('ConsulterEleve', {parametre:'Primaire'}) }}">Primaire</a>
                            <a class="dropdown-item" href="{{ path('ConsulterEleve', {parametre:"Collège"}) }}">Collège</a>
                            <a class="dropdown-item" href="{{ path('ConsulterEleve', {parametre:"Lycée"}) }}">Lycée</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Niveau</th>
                        <th>LieuIntervention</th>
                        <th>
                    </tr>
                </thead>
                <tbody>
                {% for eleve in eleves %}
                    <tr>
                        <td>{{ eleve.nom }}</td>
                        <td>{{ eleve.prenom }}</td>
                        <td>{{ eleve.niveau }}</td>
                        <td>{{ eleve.lieuIntervention }}</td>
                        <td> 

                            {{ include('eleve/SupprimerEleveId.html.twig') }}
                            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas de valeurs trouvées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('GestionEleves') }}">Retour</a>
        </div>
    </div>            
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
