{% extends 'base.html.twig' %}

{% block title %}Professeur index{% endblock %}

{% block contenu %}
    <h1>Professeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>VilleDomicile</th>
                <th>Courriel</th>
                <th>TelephoneO</th>
                <th>TelephoneS</th>
                <th>SituationActuelle</th>
                <th>Matieres</th>
                <th>Niveau</th>
                <th>ZonesInterventions</th>
                <th>LieuxInterventions</th>
                <th>ToutesMaladies</th>
                <th>Voiture</th>
                <th>Cv</th>
                <th>Cj</th>
                <th>Commentaires</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professeur in professeurs %}
            <tr>
                <td>{{ professeur.id }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.adresse }}</td>
                <td>{{ professeur.codePostal }}</td>
                <td>{{ professeur.villeDomicile }}</td>
                <td>{{ professeur.courriel }}</td>
                <td>{{ professeur.telephoneO }}</td>
                <td>{{ professeur.telephoneS }}</td>
                <td>{{ professeur.situationActuelle }}</td>
                <td>{{ professeur.matieres }}</td>
                <td>{{ professeur.niveau }}</td>
                <td>{{ professeur.zonesInterventions }}</td>
                <td>{{ professeur.lieuxInterventions }}</td>
                <td>{{ professeur.toutesMaladies ? 'Yes' : 'No' }}</td>
                <td>{{ professeur.voiture ? 'Yes' : 'No' }}</td>
                <td>{{ professeur.cv ? 'Yes' : 'No' }}</td>
                <td>{{ professeur.cj ? 'Yes' : 'No' }}</td>
                <td>{{ professeur.commentaires }}</td>
                <td>
                    <a href="{{ path('professeur_show', {'id': professeur.id}) }}">show</a>
                    <a href="{{ path('professeur_edit', {'id': professeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('professeur_new') }}">Create new</a>
{% endblock %}
