{% extends 'base.html.twig' %}

{% block title %}Modifier Professeur{% endblock %}

{% block contenu %}
     
    <div class="card" style="margin:15px;">
                <div class="card-header">
                    <H1 style="text-align:center;">Modifier professeur</H1>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-1">
                                <h5>Trier par :</h5>
                            </div>
                            <div class="col-md-1">
                                <div class="dropdown">
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Matière
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% set newArray = [] %}
                                        {% for professeur in professeurs %}
                                            {% if professeur.matiere1 not in newArray %}
                                                {% set newArray = newArray|merge([professeur.matiere1]) %}
                                            {% endif %}
                                        {% endfor %}

                                        {% for professeur in professeurs %}
                                            {% if professeur.matiere2 not in newArray %}
                                                {% set newArray = newArray|merge([professeur.matiere2]) %}
                                            {% endif %}
                                        {% endfor %}

                                        {% for matiere in newArray %}
                                            <a class="dropdown-item" href="{{ path('ModifierProfesseur', {parametre:matiere}) }}">{{ matiere }}</a>
                                        {% endfor %}
                                      </div>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="col-md-9">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Niveau
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="{{ path('ModifierProfesseur', {parametre:"Primaire"}) }}">Primaire</a>
                                  <a class="dropdown-item" href="{{ path('ModifierProfesseur', {parametre:"Collège"}) }}">Collège</a>
                                  <a class="dropdown-item" href="{{ path('ModifierProfesseur', {parametre:"Lycée"}) }}">Lycée</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                     <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Matiere(s)</th>
                            <th>Niveau</th>
                            <th>ZonesInterventions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for professeur in professeurs %}
                            <tr>
                                <td>{{ professeur.nom }}</td>
                                <td>{{ professeur.prenom }}</td>
                                <td>{{ professeur.matiere1 }}
                                    
                                    {% if professeur.matiere2 != null %}
                                        {{ '/' }}
                                        {{ professeur.matiere2 }}
                                    {% endif %}

                                </td>
                                <td>{{ professeur.niveau }}</td>
                                <td>
                                    {% set nbElements = professeur.zonesInterventions|length %}
                                    {% for zoneCourante in 0..nbElements-1 %}

                                        {{ professeur.zonesInterventions[zoneCourante] }}
                                        {% if zoneCourante != nbElements-1 %}
                                            {{ "/" }}
                                        {% endif %}

                                    {% endfor %}
                                </td>
                                <td> 
                           
                             <a href="{{ path('ModifierProfesseurId', {'id': professeur.id}) }}">Modifier</a>
                            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Pas de valeurs trouvées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('GestionProfesseurs') }}">Retour</a>
        </div>
    </div>            
{% endblock %}