{% extends 'base.html.twig' %}

{% block title %}Consulter Etablissement{% endblock %}

    {% block contenu %}

        <div class="card" style="margin:15px;">
            <div class="card-header">
                <H1 style="text-align:center;">Consulter établissement</H1><BR>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-1">
                            <h5>Trier par :</h5>
                        </div>
                        <div class="col-md-1">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Type
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('ConsulterEtablissement', {parametre:'Primaire'}) }}">Primaire</a>
                                <a class="dropdown-item" href="{{ path('ConsulterEtablissement', {parametre:"Collège"}) }}">Collège</a>
                                <a class="dropdown-item" href="{{ path('ConsulterEtablissement', {parametre:"Lycée"}) }}">Lycée</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ville
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for etablissement in etablissements %}
                                    <a class="dropdown-item" href="{{ path('ConsulterEtablissement', {parametre:etablissement.ville}) }}">{{ etablissement.ville }}</a>
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>Ville</th>
                            <th>Courriel</th>
                            <th>Telephone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for etablissement in etablissements %}
                            <tr>
                                <td>{{ etablissement.nom }}</td>
                                <td>{{ etablissement.type }}</td>
                                <td>{{ etablissement.ville }}</td>
                                <td>{{ etablissement.courriel }}</td>
                                <td> 
                                    <a href="{{ path('ConsulterEtablissementId', {'id': etablissement.id}) }}">Consulter</a>                            
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">Pas de valeurs trouvées</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('GestionEtablissements') }}">Retour</a>
            </div>
        </div>            
    {% endblock %}